body {
	font-family: helvetica, arial, sans-serif;
}

.jar__title {
    margin-top: 0.5rem;
	color: #3a241d;
	text-align: center;
}

.container{
    background-color: #eee;
	width: 15%;
	top: 0px;
	position: absolute;
	height: 100%;
	padding: 10px;
}
.left{
    left: 0px;
}
.right{
    right: 0px;
}
.plant__holder {
	position: relative;
	height: 13%;
	left: -10px;
}

.plant {
	position: absolute;
	max-width: 150%;
	max-height: 150%;
	z-index: 2;
}

.jar__walls {
	height: 80%;
	width: 60%;
	background: #d1e1df;
	border-radius: 1rem;
	position: absolute;
	bottom: 0.5%;
	left: 20%;
	opacity: 0.5;
	z-index: 1;
}
.jar__top {
	width: 50%;
	height: 5%;
	background: #d1e1df;
	position: absolute;
	bottom: 80.5%;
	left: 25%;
	opacity: 0.7;
	z-index: 1;
}
.jar__bottom {
	width: 50%;
	height: 1%;
	background: #d1e1df;
	position: absolute;
	bottom: 0%;
	left: 25%;
	opacity: 0.7;
	border-radius: 1rem;
}
.jar__dirt {
	width: 60%;
	height: 5%;
	background: #3a241d;
	position: absolute;
	border-radius: 0 0 1rem 1rem;
	bottom: 1%;
	left: 20%;
	opacity: 0.7;
	z-index: -1;
}
.jar__glossy-long {
    height: 20%;
    bottom: 20%;
    } 
.jar__glossy-short{
    height: 5%;
    bottom: 45%;
}
.glossy{
 background-color : rgb(241, 246, 246);
 width: 2%;
 border-radius: 1rem;
 position: absolute;
 left:5%;
}
.resize{
	max-width: 200%;
	max-height: 200%;
	z-index: 3;
	position: absolute;
}
.cloned-plant{
	position: absolute;
	width: 200%;
	height: 200%;
}
.clone-btn{
	color:white;
	border: none;
	background-color:#bde0fe ;
}
   

